* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: #3c40c6;
    color: #fff;
    width: 100%;
    background-image: url('/assets/images/star.svg');
}

#app {
    text-align: center;
    padding: 150px 0;
}

h2 > a, h2 > a:link {
    color: #fff;
}

.section {
    margin: 0 auto;
    padding: 20px;
    max-width: 600px;
    max-height: 600px;
}

.container {
    margin: 40px auto;
    padding: 20px;
    width: 400px;
    height: 400px;
    background-color: #fff;
    border: 1px solid #ccc;;
    box-shadow: 0 0 10px rgba(255, 255, 255, .3);
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: #f39c12;
    color: #fff;
    text-align: center;
    font-size: 24px;
    border: 1px solid #3c40c6;
}

.divider {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    height: 2px;
}

.box1 {
    /*display: grid||inline-grid;*/
    display: grid;
    /*grid-template-columns: 120px 120px 120px;*/ /*分成三列 每列各占120px*/
    /*grid-template-columns: 1fr 1fr 1fr;!*分成三列 每列各占一份*!*/
    /*grid-template-columns: repeat(4,1fr);!*分成四列 每列各占一份,超出进行换行*!*/
    /*grid-template-columns: 100px auto 100px;!*分成三列 左右两列各占100 中间自适应*!*/
    grid-template-columns: 20% 20% auto; /*分成三列 前面两列各占20% 最后一列自适应*/
}

.box2 {
    /*height: 500px;*/
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    /*grid-template-rows: 10% 30% auto; !*每一行的高度在grid容器未设置高度的情况下 设置百分比无效*!*/
    grid-template-rows: 80px auto 120px; /*指定每一行的固定高度*/
}

.box3 {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    /*设置网格的行列间距 间隙,额外计算的不包括margin在内*/
    /*    grid-row-gap: 40px;
        grid-column-gap: 40px;*/

    /*缩写属性*/
    grid-gap: 40px;
}

.box4 {
    display: grid;
    grid-template-areas:
    /*给网格的区域命名*/ 'header header header header header header'
  'menu main main main right right'
  'menu footer footer footer footer footer';
}

.box4 .item1 {
    /*调整grid-item出现在网格中的位置*/
    grid-area: menu;
}


.box5 {
    max-width: 550px;
    margin: 10px auto 0;
    max-height: 550px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*justify-items: center;!* 控制行轴上项目的(网格单元中的内容)对齐方式，默认情况下网格单元中的内容是占满的*!*/
    /*align-items: end;!*块轴上项目的对齐方式*!*/
    place-items: end center;
}

.box5 .item {
    margin: 0;
}


/*place-content控制所有轨道在grid容器中的排列规则*/
.box6 {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    justify-content: end;
    justify-content: center;
    align-content: end;
    align-content: center;
    gap: 10px;
}

.box6 .item {
    margin: 0;
}


/*grid-item演示*/
.grid-items {
    display: grid;
}

.grid-items.grid-items1 {
    grid-template-columns: repeat(3, 100px);
}

/*规定某个grid子项占多少列 从第几列到第几列*/
.grid-items.grid-items1 .item-1 {
    background-color: #9c88ff;
    grid-column: 1/3;
}

.grid-items.grid-items1 .item-4 {
    grid-column: 2/3;
    grid-row: 2/4;
}

.grid-items.grid-items1 .item-5 {
    grid-column: 1/span3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.grid-items.grid-items1 .item-7 {
    grid-column: 2/span2;
    grid-row: 5/6;
}


/*grid-area*/
.grid-items.grid-items2 {
    display: grid;
    grid-template-areas:
            'header header header'
            'aside main main'
            'aside footer footer';
    /*grid-template-columns: 100px auto 100px;*/
}

/*grid-area 控制grid单元格出现在容器中的位置和占用*/
.grid-items.grid-items2 .item-7 {
    background-color: #9c88ff;
    /*grid-area:footer;!*写名称的话则根据grid-template-areas的定义放置在对应区域内*!*/
    grid-area: 1/2/3/4; /*row在奇数 column在偶数*/
    /*grid-row:1/3*/
    /*grid-column:2/4*/
}

.grid-items.grid-items3 {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    justify-content: center;
    /*align-content:center;*/
}

/*控制内容在单元格中的排列规则*/
.grid-items.grid-items3 .item-5 {
    align-self: center;
}

.grid-items.grid-items3 .item-7 {
    /*align-self: start;*/
    justify-self: center;
    align-self: end;
}
